:host{
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    header{
        height: 75px;
    }

    nav{
        height: 50px;
        background-color: darkcyan;
    }

    main{
        flex-grow: 1;
    }

    footer{
        height: 30px;
        margin-top: auto;
        background-color: lightgray;
    }
}