<h2>Bienvenue chez les Carolos !</h2>
<p>
    Les Carolo, habitants de Charleroi, sont connus pour leur convivialité, leur résilience et leur fierté de leur ville.
    Située en Wallonie, Charleroi est une ville industrielle en pleine transformation, mêlant patrimoine historique et
    modernité. Avec ses sites emblématiques, ses festivals dynamiques et une scène culturelle vibrante, Charleroi est un
    véritable creuset d'innovations et de traditions.
    <br><br>
    Nos articles vous plongent au cœur de la vie carolorégienne, mettant en lumière les initiatives locales, les talents
    émergents et les événements marquants. Que vous soyez un habitant de longue date ou un visiteur curieux, découvrez avec
    nous l'âme et l'énergie de Charleroi.
</p>
